@(title: String, name: String, placeholder: String = "", value: String = "",itype:String = "text")

<div class="form-group">
    <label for="@name">@title</label>
    <input type="@itype" class="form-control" name="@name" id="@name" placeholder="@placeholder" value="@value">
</div>