@(message: String)

@pageTemplate("Invoice System Project") {
<h1>Invoice System Project</h1>
} {
<div class="row">
    <div class="col-md-12">
        <p class="lead">@message</p>
    </div>
</div>
}